<%- include("partials/header") %>
<%- include("partials/nav") %>

<div class="container">
    <div class="content-box px-3 py-4">
        <div class="row">
            <div class="col-6 h3 text-o">
            Chat
            </div>
            <div class="col-6 text-o h5 text-right">
                <a href="" class="text-o">
                    <i class="fas fa-sync"></i>
                </a>
            </div>
        </div>
        <!-- ROW 2 -->
        <div class="row">
            <div class="col-12 px-2 py-3 ">
                <span class="h5 text-b"><%=receiver.name%></span>
                <a href="/user/msg/list">
                    <span class="float-right text-b">Back</span>
                </a>
                <br>
            </div>
        </div>
        <!-- ROW 2 / -->        
        <!-- ROW 3  -->
        <div class="row mt-1">
            <div class="messages col-12 py-1 bg-w border rounded">
                <%if(message){%>
                    <%if(message.prev){%>
                        <div class="row">
                            <div class="col-12  py-2 ">
                                <div class="row">
                                    <div class="col-2"><i class="fas fa-mask bg-b px-2 py-2 border-circle text-w"></i></div>
                                    <div class="col-10"><p><strong><%=message.prev%></strong></p></div>
                                </div>    
                                <p class="text-time-l"><%=moment(Number(message.prevTime)).calendar();%></p>
                            </div>
                        </div>
                    <%}%>
                    <div class="row">
                        <div class="col-12  py-2 ">
                            <div class="row">
                                <div class="col-10"><p class="float-right"> <strong><%=message.current%></strong></p></div>
                                <div class="col-2"><i class="fas fa-mask bg-o text-w px-2 py-2 border-circle float-right"></i></div>
                            </div>    
                            <p class="text-time-r"><%=moment(Number(message.currentTime)).calendar();%></p>
                            
                        </div>
                    </div>
                <%}%>
                
                <div class="row mt-2">
                    <div class="col-12">
                        <% var url = `/user/msg/add/s/${user.uuid}/r/${receiver.uuid}` %>
                        <% if(message){%>
                            <% url = `/user/msg/update/${message.uuid}/s/${user.uuid}` %>
                            <%if(message.sender == user.uuid){%>
                                <div class="text-center">
                                    <h6 class="text-b">... Waiting for Reply ...</h6>
                                </div>
                            <%}else{%>
                                <form action="<%=url%>" method="post">
                                    <div class="row">
                                        <div class="col-10">
                                            <input type="text" class="form-control block" placeholder="Add Message" required maxlength="100" name='msg'>
                                        </div>
                                        <div class="col-2">
                                            <div class="text-center">
                                                <button class="btn"><i class="fas h5 fa-paper-plane text-b"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            <%}%>
                        <% }else{ %>
                            <form action="<%=url%>" method="post">
                                <div class="row">
                                    <div class="col-10">
                                        <input type="text" class="form-control block" placeholder="Add Message" required maxlength="100" name='msg'>
                                    </div>
                                    <div class="col-2">
                                        <div class="text-center">
                                            <button class="btn"><i class="fas h5 fa-paper-plane text-b"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        <%}%>
                    </div>
                </div>
                <div class="text-center">
                    <small class="text-b mt-2 text-time">We Never Store Your Messages</small>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/link.js"></script>
<%- include("partials/footer") %>