<%- include("partials/header") %>
<%- include("partials/nav") %>

<div class="container">
    <div class="content-box px-3 py-4">
        <div class="row">
            <div class="col-6 h3 text-o">
            My Links
            </div>
            <div class="col-6 text-o h5 text-right">
                <a href="" class="text-o">
                    <i class="fas fa-sync"></i>
                </a>
            </div>
        </div>
        <!-- ROW 2 -->
        <div class="row">
            <div class="col-12 px-2 py-3 mt-3 border rounded">
                <div class="text-center">
                    <h4 class="text-b">
                        Let's find out What People Want to tell You Anonymously
                    </h4>
                    <p class="">Click the button below to get <span class="text-o">your sharable link</span> </p>
                    <button class="btn bg-b text-w hv-w mt-2" data-toggle="modal" data-target="#caption">Get My Link</button>
                </div>
            </div>
        </div>
        <hr>
        <!-- ROW 2 / -->
        <!-- ROW 3  -->
        <div class="row">
            <div class="col-12 px-2 py-1 mt-3">
                <div class="text-center h3 text-b">My Links</div>               
            </div>
            <div class="col-12">
                <%links.forEach(link=>{%>
                    <div class="card bg-b px-2 py-2 pb-3 text-w mt-2">
                        <div class="row">    
                            <div class="col-12">
                                <div class="text-right mb-2">
                                    <%if(link.privacy == 'public'){%>
                                        <button class="bg-y text-w border-b btn-sm mr-2 border-circle" onclick="alert('Others Can not See Your Resposes')"><i>i</i></button>
                                        <a href="/link/privacy/toggle/<%=link.uuid%>" class="mr-3">
                                            <button class="btn bg-y btn-sm">Make Private</button>
                                        </a>
                                    <%}else{%>
                                        <button class="bg-y text-w border-b btn-sm mr-2 border-circle" onclick="alert('Others Can See Your Resposes')"><i>i</i></button>
                                        <a href="/link/privacy/toggle/<%=link.uuid%>" class="mr-3">
                                            <button class="btn bg-y btn-sm">Make Public</button>
                                        </a>
                                    <%}%>
                                    <a href="/link/remove/<%=link.uuid%>" title="Delete this Link">
                                        <button class="btn btn-danger btn-sm">X</button>
                                    </a>
                                </div>
                                <input type="text" name="sharable" class="form-control" id="share" value="https://funee.herokuapp.com/public/link/<%=link.uuid%>" readonly>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="text-center">
                                            <a href="/user/responses/<%=link.uuid%>">
                                                <button class="btn bg-o text-w"><span class="bg-w text-o rounded px-2 my-2"><%=link.responses.length%></span> Responses</button>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="text-center">
                                            <button class="btn bg-o text-w" id="shareBtn" onclick="copyText('hello')">Copy Link</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <%})%>
            </div>
        </div>
        <!-- ROW 3 / -->
    </div>
</div>
<div class="modal fade" id="caption" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-12">
                  <div class="text-center h4 text-b">Add Caption</div>
              </div>
              <div class="col-12 mt-2">
                  <form action="/link/getLink" method="POST">
                      <div class="form-group">
                          <input type="text" name="caption" id="caption" placeholder="Eg. What do you think about me" class="form-control">
                      </div>
                      <div class="text-center">
                        <small class="text-o">People will see this while adding comments</small>
                    </div>
                      <div class="form-group">
                          <input type="checkbox" name="privacy" id="privacy" checked>
                          <label for="privacy">Let others see my responses</label>
                      </div>
                      <div class="mt-2 text-center">
                          <button class="btn bg-b text-w hv-w">Get Link</button>
                      </div>
                  </form>
              </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
<script src="/js/link.js"></script>
<%- include("partials/footer") %>