<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container">
    <div class="content-box px-3 py-4">
        <div class="row">
            <div class="col-6 h3 text-o">
                My Responses
            </div>
            <div class="col-6 text-right">
                <%if(!user){%>
                    <div class="toggle-buttons ml-auto text-w">
                      <a href="/login" id="n-link">
                          <button class="btn bg-o text-w mr-2 mr-2 hv-w">Get My Link</button>
                      </a>
                  </div>
                  <%}%>
            </div>
        </div>
        <!-- ROW 2 -->
        <div class="row">
            <div class="col-12 px-2 py-3 mt-3 border rounded bg-b">
                <h5 class="text-w text-center"><%=link.caption%></h5>
                <div class="row responses mt-4">
                  <%  link.responses.forEach(res=>{ %>
                        <div class="col-12">
                            <div class="card px-3 py-2 mt-3">    
                                <p class="strong"><%=res.response%></p>
                                <% var time = moment(res.time).calendar();%>
                                <p class="text-left text-time-l"><%=time%></p>
                            </div>
                        </div>
                   <% }) %>
                </div>
            </div>
        </div>
        
        <!-- ROW 2 / -->
    </div>
</div>
<%- include("partials/footer") %>
