<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container">
    <div class="content-box px-3 py-4">
        <div class="row">
            <div class="col-12 h3 text-o">
                Room
            </div>
        </div>
        <!-- ROW 3  -->
        <div class="row">
            <div class="col-12">
                <div class="card bg-w px-2 text-w">
                    <div class="row">
                        <div class="card col-12 bg-b">
                            <div>
                                <h4 class="text-center text-w"><%=topic.title%></h4>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        <!-- ROW 3 / -->
        <!-- ROW 4  -->
        <div class="row">
            <%if(user){%>
                <div class="col-12 mt-4">
                    <form action="/topic/room/<%=topic.uuid%>/user/<%=user.uuid%>/addComment" method="POST" id="commentForm">
                        <div class="row">
                            <div class="col-9">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Add Comment" required maxlength="100" name='comment' id="comment">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group mt-2">
                                    <input type="checkbox" name="type" id="type">
                                    <label for="type">Private</label>
                                </div>
                            </div>
                        </div>

                        <div class="row text-center">
                            <div class="col-6">
                                <button type="button" class="btn bg-b text-w hv-w" onclick="submitForm('s1')"><i class="fas fa-paper-plane mr-1"></i><%=topic.side1%></button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn bg-o text-w hv-w" onclick="submitForm('s2')"><i class="fas fa-paper-plane mr-1"></i><%=topic.side2%></button>
                            </div>
                        </div>
                    </form>
                </div>      
            <%}%>
            <div class="col-12 mt-3">
                <div class="row chat" id="chat">
                    <%comments.forEach(comment=>{%>
                        <%if(comment.side == topic.side1){%>
                            <div class="col-12 mt-3">
                                <div class="card px-2 py-2 bg-w"> 
                                    <p class="text-w">
                                        
                                       <% if(comment.type == 'private'){%>
                                            <strong>
                                                <i class="fas fa-mask bg-b px-2 py-2 border-circle"></i>
                                            </strong> 
                                        <%}else{%>
                                            <strong class="text-b"><%=comment.ownerName%></strong> 
                                            <%if(user.uuid != comment.owner){%>
                                                <a href="/user/msg/<%=comment.owner%>?redirect=<%=topic.uuid%>">
                                                    <i class="fas fa-comments text-b ml-3"></i>
                                                </a>
                                            <%}%>
                                        <%}%>
                                        <span class="text-time-r"><%=moment(comment.createdAt).calendar();%> <i class="fas fa-ellipsis-v ml-3" onclick="showMenu('<%=comment.uuid%>')"></i></span>
                                    </p> 
                                    <p id="<%=comment.uuid%>"><%=comment.msg%></p>
                                </div>
                            </div>
                        <%}else{%>
                            <div class="col-12 mt-3">
                                <div class="card px-2 py-2 bg-w">  
                                    <p class="text-w ">
                                        <% if(comment.type == 'private'){%>
                                            <strong class="float-right">
                                                <i class="fas fa-mask bg-o px-2 py-2 border-circle mr-3 "></i>
                                                <i class="fas fa-ellipsis-v text-time-r mt-2" onclick="showMenu('<%=comment.uuid%>')"></i>
                                            </strong> 
                                            
                                        <%}else{%>
                                            <strong class="text-o float-right"><%=comment.ownerName%>
                                                <%if(user.uuid != comment.owner){%>
                                                    <a href="/user/msg/<%=comment.owner%>?redirect=<%=topic.uuid%>">
                                                        <i class="fas fa-comments ml-3 text-o"></i>
                                                    </a>    
                                                <%}%>
                                                <i class="fas fa-ellipsis-v ml-4 text-time-r mt-1" onclick="showMenu('<%=comment.uuid%>')"></i>
                                            </strong> 
                                        <%}%>
                                        <span class="text-time-l"><%=moment(comment.createdAt).calendar();%></span> 
                                    <p id="<%=comment.uuid%>" class="float-right"><%=comment.msg%></p>
                                </div>
                            </div>
                        <%}%>
                    <%})%>
                </div>
            </div>
            <%if(!user){%>
                <div class="col-12 mt-3">
                    <div class="card bg-b text-w hv-w py-4">
                        <div class="text-center">
                           <h4>To View More</h4> 
                           <a href="/signup?redirect=<%=topic.uuid%>">
                            <button class="btn bg-o text-w hv-w mt-1">Signup</button>
                           </a>
                        </div>
                    </div>
                </div>
            <%}%>
            
        </div>
        <!-- ROW 4 / -->
    </div>
</div>
<button type="button" class="btn btn-primary d-none" id='trgBtn' data-toggle="modal" data-target="#reportMsg">
    Popup    
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="reportMsg" tabindex="-1" role="dialog" aria-labelledby="reportMsgLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reportMsgLabel">Report Message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/topic/room/<%=topic.uuid%>" method="post" id="reportMsgForm">
              <div class="form-group">
                  <label for="msg">Do you want to Report this Message</label>
                  <input type="text" name="msg" id='msg' class="form-control">
              </div>
              <div class="text-center">
                  <button class="btn bg-b text-w hv-w" >Report</button>
              </div>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(window).on('load', function() {
        var chatEl = document.getElementById("chat");
        chatEl.scrollTop = chatEl.scrollHeight;
    });
</script>
<script src="/js/link.js"></script>

<%- include("partials/footer") %>